 /*fonts start */
@font-face{
	src: url(../fonts/montserrat/montserrat-regular.ttf);
	font-family: 'Montserrat', sans-serif;

}
@font-face{
	src: url(../fonts/montserrat/montserrat-medium.ttf);
	font-family: 'Montserrat', sans-serif;

}
@font-face{
	src: url(../fonts/montserrat/montserrat-bold.ttf);
	font-family: 'Montserrat', sans-serif;

}
@font-face{
	src: url(../fonts/montserrat/montserrat-semibold.ttf);
	font-family: 'Montserrat', sans-serif;

}
@font-face{
	src: url(../fonts/montserrat/montserrat-bolditalic.ttf);
	font-family: 'Montserrat', sans-serif;

}
@font-face{
	src: url(../fonts/audiowide/audiowide-regular.ttf);
	font-family: 'Audiowide', cursive;

}
/* fonts end */
/* common start */

body{
  padding: 30px 0;
  background-color: black;
}

/*draggable start*/

.s_draggable{
	padding: 30px 0;
	background-color: skyblue;
}
#draggable { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em; 
}

/*droppable start*/
.s_droppable{
	margin-top: 30px;
	min-height: 300px;
	padding: 30px 0;
	background-color: lightcyan;
}
#draggable2 { 
	width: 100px; 
	height: 150px; 
	padding: 0.5em; 
	float: left; 
	margin: 10px 10px 10px 0; 
}
  #droppable { 
  	width: 150px; 
	  height: 200px; 
	  padding: 0.5em; 
	  float: left; 
	  margin: 10px; 
}

/*resizable start*/
.s_resizable{
	margin-top: 30px;
	padding: 30px 0;
	background-color: skyblue;
}
#resizable { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em; 
}
#resizable h3 { 
 	text-align: center; 
 	margin: 0; 
}

/*selectable start*/
.s_selectable{
	margin-top: 30px;
	padding: 30px 0;
	background-color: lightcyan;
}
#feedback { 
	font-size: 1.2em; 
}
#selectable .ui-selecting { 
	background: #FECA40; 
}
#selectable .ui-selected { 
	background: #F39814; 
	color: white; 
}
#selectable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 60%; 
}
#selectable li { 
	margin: 3px; 
	padding: 0.4em; 
	font-size: 1.2em; 
	height: 45px; 
}

/*sortable start*/
.s_sortable{
	margin-top: 30px;
	padding: 30px 0;
	background-color: skyblue;
}
#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 60%; 
}
  #sortable li { 
  	margin: 0 3px 3px 3px; 
	  padding: 0.4em; 
	  padding-left: 1.5em; 
	  font-size: 1.4em; 
	  height: 50px; 
}
  #sortable li span { 
  	position: absolute; 
  	margin-left: -1.3em; 
}